<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../../assets/img/1.jpg" alt="" style="height: 50px;">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Cafe Management System</h2>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> <span class="sidebar-option">Home</span> 
    </a>
    <a mat-list-item routerLink="/cafe/category" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> <span class="sidebar-option">Manage Category</span> 
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon><span class="sidebar-option">Link 3</span> </a>
    <a mat-list-item> <mat-icon>edit</mat-icon><span class="sidebar-option">Link 4</span> </a>
    <a mat-list-item> <mat-icon>edit</mat-icon><span class="sidebar-option">Link 5</span> </a>
    <a mat-list-item> <mat-icon>edit</mat-icon><span class="sidebar-option">Link 6</span> </a>
</mat-nav-list>